.tagInput {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #F2F2F2;
    padding: 12px 16px;
    border-radius: var(--radius-8);
    background: #F2F2F2;
}

.tagInput:hover, .tagInput:focus {
    border: 1px solid #269AD4;
    outline: 2px solid #D4EBF6;
}

.input {
    font-size: var(--input-font);
    border: none;
    background: none;
    outline: none;
}

.input::placeholder {
    color: #828282;
}


.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: var(--color-blue);
    color: #fff;
    border-radius: var(--radius-8);
    padding: 4px 8px;
    margin: 4px;
    display: flex;
    align-items: center;
}

.tagRemove {
    cursor: pointer;
    margin-left: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
}
