.navbar {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user {
  color: white;
  background: var(--color-blue);
  border-radius: 50%;
  padding: 5px 9px;
  text-align: center;
}

.linkIcon {
  display: flex;
  align-items: center;
  gap: 5px;
}