.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px !important;
}

.logo {
    font-size: 34px;
    color: var(--color-blue);
    font-weight: 700;
}